h3{
background: rgb(117, 190, 214);
padding: 8px 8px 8px 2px;
}
.tr,p{
    background: rgb(240, 240, 240);
    padding: 8px 8px 8px 2px;

}
#id{
    background: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 8px 8px 8px 2px;
}